/* Home Section */
.home-section {
  position: relative;
  height: 100vh;
  background: url('/src/assets/background.jpeg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
}

.home-content {
  position: relative;
  z-index: 1;
  transform: translateY(10rem); /* Move the box 100px down */
  text-align: center;
  color: #fff;
  max-width: 700px;
  padding: 40px 20px; /* Increase padding for better spacing */
  margin: 0 auto;
}

.home-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ffffff;
}

.home-subtitle {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.home-description {
  font-size: 1.1rem;
  margin-bottom: 35px;
  line-height: 1.6;
}

/* Button Styling */
.home-button {
  display: inline-block;
  padding: 12px 28px;
  background-color: #007bff; /* Blue color */
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-button:hover {
  background-color: #2fda68;
  transform: translateY(-3px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-title {
    font-size: 2.3rem;
  }

  .home-subtitle {
    font-size: 1.1rem;
  }

  .home-description {
    font-size: 1rem;
  }

  .home-button {
    padding: 10px 24px;
    font-size: 0.9rem;
  }
}
