/* Prevent horizontal scrolling */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the navbar */
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 1em;
}

.navbar-menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.hero-section {
  background: url('assets/background.jpeg') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 120px); /* Adjust to account for header and footer */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 8px;
  text-align: center;
  color: white;
  max-width: 600px;
}

.hero-content h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

.hero-content p {
  margin: 1em 0;
  font-size: 1.2em;
}

.services-button {
  background-color: green;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

.App-footer {
  width: 100%;
  padding: 1em;
  background-color: white;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .hero-content, .about-section, .services-section, .contact-section {
    padding: 10px;
  }
}